.productGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 50rem;
  }
  

  /*! --- MEDIA QUERIES (MEDIUM) --- */
  @media screen and (max-width: 1370px) {
    .productGrid {
      margin-top: 36rem;
    }
  }